/* Start Global Rules */
* {
    font-family: open-sans;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* End Global Rules */
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}